#nav {
  height: 100px;
  padding: 0px 80px;
  justify-content: flex-end;
  border-bottom: 1px solid rgb(167, 167, 167);
}

.d-flex {
  display: flex;
}

ul {
  gap: 20px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  align-items: center;

  li {
    margin: 5px;
    padding: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: cadetblue;

    &:hover {
        background-color: rgb(130, 159, 160);
        color: black;
    }
  }
}